.titleBar {
    width: 100%;
    font-size: 2em;
    text-align: center;
}

.tagBar {
    width: 100%;
}

.tagButton {
    width: 45%;
    float: left;
    margin: 1.25%;
    height: 38px;
}

.addTagBar {
    width: 100%;
}
/* Add Tag button doesn't quite line up
The problem comes from the input text box
It doesn't want to be the same size as the buttons */
.tagInput {
    width: 45%;
    float: left;
    margin: 1.25%;
}

.showMoreButton {
    width: 45%;
    float: left;
    margin: 1.25%;
    height: 25px;
}

.favoritesButton {
    width: 45%;
    float: left;
    margin: 1.25%;
    height: 25px;
}

.stickyBottomBar {
    text-align: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}